.DashComp {
  width: 84%;
  margin: auto;
  background: #f8f9fa;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerDash {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
  flex-direction: column;
}

.titleDash {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleTextDash {
  text-align: -webkit-center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #182936, #f47c28);
  margin: 0px;
  font-size: 20px;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.link {
  color: #363636;
  cursor: pointer;
  padding: 8px 12px;
  font-weight: 600;
  transition: 0.3s ease;
}

.link:hover,
.link.active {
  border-bottom: 1px solid #cbc9c9;
}

.logoImgDash {
  width: 100px;
  height: 40px;
}

/* Table Styling */
.tableContainer {
  width: 100%;
  overflow-x: auto; /* Active le scroll horizontal si nécessaire */
  white-space: nowrap; /* Empêche le retour à la ligne des cellules */
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 10px 10px #d1d1d1;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 15px;

}

.table th {
  background: #60606085;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 2px solid #d26f2a;

}

.table tr td select {
  border: none;
  padding: 5px;
  border-radius: 3;
}


.ctrlCl {
  cursor: pointer;
  position: relative;
}

.ctrlCl span {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.ctrlCl:hover span {
  transform: rotate(360deg);
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: auto;

}

.ctrlBtn {
  display: none;
}

.ctrlCl:hover .ctrlBtn {
  display: inline-block;
}
  
.deleteLogo {
  font-size: 20px;
  padding: 3px;
  cursor: pointer;
  margin: 0px;
  margin-right: 2px;
  color: #2c4f68;
}

.deleteLogo:hover {
  color: #ef7411;
}
.updateLogo {
  font-size: 20px;
  padding: 3px;
  cursor: pointer;
  margin: 0px;
  color: #2c4f68ed;

}

.updateLogo:hover {
  color: #ef7411;
}
  